<div class="container-fluid full-page-height bg-dark-blue centered-flex">
  <div class="center-text login-box col-lg-4 bg-white">
    <div class="app-form-row">
      <span class="notice-heading">Please enter your account details</span>
    </div>
    <div class="app-form-row">
      <input
        type="password"
        class="input-text full-width"
        placeholder="Password"
      />
    </div>
    <div class="app-form-row">
      <input
        type="password"
        class="input-text full-width"
        placeholder="Confirm Password"
      />
    </div>
    <div class="app-form-row">
      <button class="app-button bg-dark-blue text-white uppercase">
        activate account
      </button>
    </div>
    <div class="app-form-row">
      <span class="subtitle">
        Dont need this now?
        <span
          class="bold link-up"
          [routerLink]="['/']"
          routerLinkActive="router-link-active"
          >Click here</span
        >
      </span>
    </div>
  </div>
</div>
