<div class="container-fluid">
  <div class="container-fluid overview-box bg-white">
    <div class="overview-header">
      <span class="notice-heading">Case File</span>
    </div>
    <div class="overview-content">
      <mat-tab-group>
        <mat-tab label="Case Suspects">
          <app-case-suspect-table></app-case-suspect-table>
        </mat-tab>
        <mat-tab label="Case Victims">
          <app-case-victim-table></app-case-victim-table>
        </mat-tab>
        <mat-tab label="Case Report">
          <app-case-report-table></app-case-report-table>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
