@import "colors";
@import "animations";

.full-page-height {
  height: 100vh;
}
.full-width {
  width: 100%;
}

.block {
  display: block;
}
.inline-block {
  display: inline-block;
}

.clear {
  clear: both;
}
.simple-flex {
  display: flex;
  align-items: center;
}
.centered-flex {
  @extend .simple-flex;
  justify-content: center;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.top-padding {
  padding-top: 1.5rem;
}
.vertical-padding-bottom {
  padding: 5px 0 25px 0;
}

.link-up {
  cursor: pointer;
}

.app-form-row {
  box-sizing: border-box;
  padding: 5px 0;
  position: relative;
}

.app-button {
  // width: 100%;
  // padding: 10px 10px;
  // cursor: pointer;
  // border: 0;
  // margin: 0;

  display: block;
  overflow: hidden;
  border: none;
  position: relative;
  border-radius: 4px;
  padding: 11px 50px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  font-family: "Montserrat";
  transition: all 0.3s ease-in-out;
  z-index: 1;
}
