<div class="container-fluid overview-box bg-white">
  <i class="uil uil-copy-alt overview-icon"></i>
  <div class="overview-header">
    <span class="notice-heading text-light-blue">Cases</span>
  </div>
  <div class="overview-content">
    <div class="top-padding">
      <span class="pull-right">
        <span class="overview-label">Total</span>&nbsp; &nbsp;<span
          class="mega-number-text"
          >98</span
        >
      </span>
      <span class="clearfix"></span>
      <hr />
    </div>
    <div class="three-column-grid-nogap three-grid top-padding">
      <div>
        <span class="center-text">
          <span class="block mini-number-text">8</span>
          <span class="block overview-label">Open</span>
        </span>
        <span class="clearfix"></span>
      </div>
      <div>
        <span class="center-text">
          <span class="block mini-number-text">24</span>
          <span class="block overview-label">Closed</span>
        </span>
        <span class="clearfix"></span>
      </div>
      <div>
        <span class="center-text">
          <span class="block mini-number-text">52</span>
          <span class="block overview-label">Convictions</span>
        </span>
        <span class="clearfix"></span>
      </div>
    </div>
  </div>
</div>
