<div class="table-container bg-white">
  <div *ngIf="!loading">
    <!-- Table Data Start -->
    <div class="table-filter-grid vert-padding">
      <div></div>
      <div>
        <input
          type="text"
          class="input-text full-width"
          placeholder="Search for user account"
        />
      </div>
      <div>
        <button class="app-button uppercase bg-dark-blue text-white pull-right">
          Create Account
        </button>
      </div>
      <span class="clearfix"></span>
    </div>

    <div
      class="table-height table-data-container"
      *ngIf="!hasError && dataSource?.data?.length > 0"
    >
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="userCode">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="table-header-cell uppercase"
          >
            Staff Number
          </th>
          <td mat-cell *matCellDef="let row" class="table-cell">
            <span class="table-cell-text block ellipsis">
              {{ row.code }}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="fullName">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="table-header-cell uppercase"
          >
            Full Name
          </th>
          <td mat-cell *matCellDef="let row" class="table-cell">
            <span class="table-cell-text block ellipsis">
              {{ row.firstName }} {{ row.lastName }}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="emailAddress">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="table-header-cell uppercase"
          >
            Department
          </th>
          <td mat-cell *matCellDef="let row" class="table-cell">
            <span class="table-cell-text block ellipsis">
              {{ row.department }}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="phoneNumber">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="table-header-cell uppercase"
          >
            Enrolled Date
          </th>
          <td mat-cell *matCellDef="let row" class="table-cell">
            <span class="table-cell-text block ellipsis">
              {{ row.dateCreated | date: "mediumDate" }}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="accountType">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="table-header-cell uppercase"
          >
            Zonal Command
          </th>

          <td mat-cell *matCellDef="let row" class="table-cell">
            <span class="table-cell-text block ellipsis">
              {{ row.command }}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="menuHolder">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="table-header-cell uppercase"
          ></th>
          <td mat-cell *matCellDef="let row" class="table-cell">
            <span class="table-cell-text block ellipsis">
              <i class="uil uil-ellipsis-v" [matMenuTriggerFor]="userMenu"></i>
              <mat-menu #userMenu="matMenu" xPosition="before">
                <span mat-menu-item>
                  Edit Item
                </span>
              </mat-menu>
            </span>
          </td>
        </ng-container>

        <!-- Table row descriptor -->

        <tr
          mat-header-row
          *matHeaderRowDef="tableColumns"
          class="mat-header-row"
        ></tr>

        <tr
          mat-row
          *matRowDef="let row; columns: tableColumns"
          class="def-row"
        ></tr>

        <!-- Table row descriptor end -->
      </table>
    </div>
    <!-- Table Data end -->

    <!-- Empty state start -->
    <div
      class="table-height table-empty-state-container centered-flex"
      *ngIf="!hasError && dataSource?.data?.length == 0"
    >
      <div class="center-text">
        <img src="assets/images/envelope.svg" height="200" alt="" srcset="" />
        <p class="error-state-text">
          No data available
        </p>
      </div>
    </div>
    <!-- Empty state end -->

    <!-- Table error Start -->
    <div class="table-height table-error centered-flex" *ngIf="hasError">
      <div class="center-text">
        <img src="assets/images/error.svg" height="200" alt="" srcset="" />
        <p class="error-state-text">
          Something happend. please try again later
        </p>
      </div>
    </div>
    <!-- Table end -->
  </div>

  <!-- Table Loader start -->
  <div class="table-height table-loader centered-flex" *ngIf="loading">
    <div class="center-text">
      <div class="loader">
        <!-- loading -->
        <div class="loader_cogs">
          <div class="loader_cogs__top">
            <div class="top_part"></div>
            <div class="top_part"></div>
            <div class="top_part"></div>
            <div class="top_hole"></div>
          </div>
          <div class="loader_cogs__left">
            <div class="left_part"></div>
            <div class="left_part"></div>
            <div class="left_part"></div>
            <div class="left_hole"></div>
          </div>
          <div class="loader_cogs__bottom">
            <div class="bottom_part"></div>
            <div class="bottom_part"></div>
            <div class="bottom_part"></div>
            <div class="bottom_hole"><!-- lol --></div>
          </div>
        </div>

        <!-- Table Loader end -->
      </div>
      <br />
      <!-- <p>loading</p> -->
    </div>
  </div>
  <mat-paginator
    #paginator
    class=""
    [ngClass]="{
      'load-hide': loading && !hasError && dataSource?.data?.length > 0
    }"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
  ></mat-paginator>
</div>
