<div class="container-fluid overview-box bg-white">
  <i class="uil uil-user-arrows overview-icon"></i>
  <div class="overview-header">
    <span class="notice-heading text-light-blue">People of Interest</span>
  </div>
  <div class="overview-content">
    <div class="top-padding">
      <span class="pull-right">
        <span class="overview-label">Total</span>&nbsp; &nbsp;<span
          class="mega-number-text"
          >2398</span
        >
      </span>
      <span class="clearfix"></span>
      <hr />
    </div>
    <div class="three-column-grid-nogap three-grid top-padding">
      <div>
        <span class="center-text">
          <span class="block mini-number-text">2398</span>
          <span class="block overview-label">Victims</span>
        </span>
        <span class="clearfix"></span>
      </div>
      <div>
        <span class="center-text">
          <span class="block mini-number-text">2398</span>
          <span class="block overview-label">Suspects</span>
        </span>
        <span class="clearfix"></span>
      </div>
      <div>
        <span class="center-text">
          <span class="block mini-number-text">2398</span>
          <span class="block overview-label">Offenders</span>
        </span>
        <span class="clearfix"></span>
      </div>
    </div>
  </div>
</div>
