<nav [ngClass]="{ 'navbar-open': drawerOpen, navbar: !drawerOpen }">
  <ul class="navbar-nav">
    <li
      class="nav-item"
      [routerLink]="['overview']"
      routerLinkActive="router-link-active"
    >
      <div class="list-menu">
        <i class="uil uil-dashboard"></i>
        <span class="nav-text">Dashboard</span>
      </div>
    </li>
    <li class="nav-item" id="admin" (click)="changeOpenstate($event)">
      <div class="list-menu">
        <i class="uil uil-home"></i>
        <span class="nav-text">Administration</span>
      </div>
      <div class="sub-menu">
        <ul class="sub-list">
          <li class="sub-list-item">
            <span>Zonal Commands</span>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <div class="list-menu">
        <i class="uil uil-building"></i>
        <span class="nav-text">Cases</span>
      </div>
      <div class="sub-menu">
        <ul class="sub-list">
          <li
            class="sub-list-item"
            [routerLink]="['consult', 'categories']"
            routerLinkActive="router-link-active"
          >
            <span>Case List</span>
          </li>
          <li
            class="sub-list-item"
            [routerLink]="['consult', 'services']"
            routerLinkActive="router-link-active"
          >
            <span>Case Types</span>
          </li>
          <li
            class="sub-list-item"
            [routerLink]="['dispensary', 'categories']"
            routerLinkActive="router-link-active"
          >
            <span>Offenders</span>
          </li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <div class="list-menu">
        <i class="uil uil-invoice"></i>
        <span class="nav-text">Reports</span>
      </div>
      <div class="sub-menu">
        <ul class="sub-list">
          <li
            class="sub-list-item"
            [routerLink]="['consult', 'categories']"
            routerLinkActive="router-link-active"
          >
            <span>Incidents</span>
          </li>
          <li
            class="sub-list-item"
            [routerLink]="['consult', 'services']"
            routerLinkActive="router-link-active"
          >
            <span>Rescues</span>
          </li>
          <li
            class="sub-list-item"
            [routerLink]="['dispensary', 'categories']"
            routerLinkActive="router-link-active"
          >
            <span>Offenders</span>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <div class="list-menu">
        <i class="uil uil-invoice"></i>
        <span class="nav-text">People</span>
      </div>
      <div class="sub-menu">
        <ul class="sub-list">
          <li
            class="sub-list-item"
            [routerLink]="['consult', 'categories']"
            routerLinkActive="router-link-active"
          >
            <span>Victims</span>
          </li>
          <li
            class="sub-list-item"
            [routerLink]="['consult', 'services']"
            routerLinkActive="router-link-active"
          >
            <span>Suspects</span>
          </li>
          <li
            class="sub-list-item"
            [routerLink]="['dispensary', 'categories']"
            routerLinkActive="router-link-active"
          >
            <span>Offenders</span>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <div
        class="list-menu"
        [routerLink]="['beneficiaries']"
        routerLinkActive="router-link-active"
      >
        <i class="uil uil-user-square"></i>
        <span class="nav-text">Projects</span>
      </div>
    </li>

    <li class="nav-item">
      <div class="list-menu">
        <i class="uil uil-users-alt"></i>
        <span class="nav-text">Users</span>
      </div>
      <div class="sub-menu">
        <ul class="sub-list">
          <li
            class="sub-list-item"
            [routerLink]="['users', 'staff']"
            routerLinkActive="router-link-active"
          >
            <span>Accounts</span>
          </li>
          <li
            class="sub-list-item"
            [routerLink]="['users', 'agents']"
            routerLinkActive="router-link-active"
          >
            <span>Users</span>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item" (click)="logOut()">
      <div class="list-menu">
        <i class="uil uil-sign-out-alt"></i>
        <span class="nav-text">Logout</span>
      </div>
    </li>
  </ul>
</nav>
<main
  class="bg-backdrop full-page-height"
  [ngClass]="{ 'main-content-open': drawerOpen, 'main-content': !drawerOpen }"
>
  <div class="container-fluid">
    <i class="uil uil-list-ul link-up" (click)="toggleDrawer()"></i>
    <span class="pull-right profile-name link-up" *ngIf="authState?.loggedIn"
      ><span>{{ loggedInUser?.firstName }} {{ loggedInUser?.lastName }}</span>
      <span><i class="uil uil-user-circle profile-name"></i></span>
    </span>
  </div>
  <div class="">
    <router-outlet></router-outlet>
  </div>
</main>
