/* You can add global styles to this file, and also import other style files */
@import "styles/reset.scss";
// @import "styles/grid.scss";
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "styles/bootstrap-grid.scss";
// @import "~ngx-toastr/toastr";
@import "styles/elements.scss";
@import "styles/colors.scss";
@import "styles/text.scss";
@import "styles/colors.scss";
@import "styles/animations.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

body::-webkit-scrollbar {
  width: 0.35rem;
}

body::-webkit-scrollbar-track {
  background-color: #7afac3;
}

body::-webkit-scrollbar-thumb {
  background-color: #fff;
}

html,
body {
  height: 100%;
  font-family: "Montserrat", "Nanum Gothic", sans-serif;
}
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.table-height {
  min-height: 550px;
  width: 100%;
  // background: red;
}

.mat-menu-item {
  font-family: "Montserrat", "Nanum Gothic", sans-serif;
  line-height: 38px !important;
  height: 38px !important;
  font-size: 0.8rem;
  padding: 0 8px;
}

.mat-menu-item:hover {
  background-color: #4caf4f86 !important;
  color: #fff;
}
table {
  width: 100%;
  border: 0 !important;
}

//Cell excerpt
//Max width for cell
td.mat-cell {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  span {
    // padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

td.mat-row {
  width: 100%;
  margin-bottom: 10px !important;
}

.mat-row {
  width: 100%;
  margin-bottom: 0.1rem !important;

  height: 0px;
  line-height: 48px;
  border-bottom-width: 0;
  border-bottom: 1px solid #a0a0a02a;
  font-family: "Montserrat";
  font-size: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  // box-shadow: 0 0 25px 0 #a0a0a02a;
}

.row-holder {
  box-shadow: 0 0 25px 0 #a0a0a02a;
}

.mat-header-row {
  background-color: $darkBlue;
  line-height: 56px !important;
}

.table-header-cell {
  border: 0 !important;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 0.9rem;
  color: #fff;
}
.mat-cell,
.table-cell {
  border-bottom-width: 0;
  border: 0 !important;

  // background-color: red;
}

.table-cell-text {
  font-size: 0.8rem;
}
.mat-row:hover {
  background-color: rgba(85, 137, 249, 0.068);
}

/**
Dialog reset style
*/
.mat-dialog-container {
  // box-shadow:0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
  box-shadow: rgba(51, 78, 205, 0.2);
  //   background-color: $mainPurple;
  padding: 0 !important;
  // animation: jello 0.3 linear delay iteration-count direction fill-mode;
}

.cdk-overlay-dark-backdrop {
  //background: rgba(0,0,0,.32);
  background: rgba(51, 78, 205, 0.3);
  background: rgba(11, 119, 45, 0.3);
  // background: $darkGreen;
}

.modal-padding {
  box-sizing: border-box;
  padding: 2rem 2.2rem;
}

.ng-select .ng-select-container {
  border-radius: 0;
  // border: 0.03px solid $darkGreen;
  // padding: 5px 0;
  padding: 23px 10px;
  // padding: 5px 10px;
  transition: all 0.3s ease-in-out;
}

.ng-select:focus .ng-select-container:focus {
  border: 0.03px solid $darkGreen;
}

.ng-select.ng-select-multiple
  .ng-select-container
  .ng-value-container
  .ng-value
  .ng-value-label {
  padding: 5px;
}

.ng-select-multiple {
  padding: 0;
}

.ng-select .ng-arrow-wrapper .ng-arrow {
  border-color: $darkGreen transparent transparent;
}

.ng-select.ng-select-opened {
  .ng-select-container .ng-arrow {
    border-color: $darkGreen transparent $darkGreen;
  }
}

.toast-container .ngx-toastr {
  box-shadow: 0 0 30px 0 #5252524a;
  border: 3px solid #63636357;
  border-radius: 8px;
  color: #f2f2f2;
}

.toast-container .ngx-toastr:hover {
  box-shadow: 0 0 30px 0 #b0b0b04a;
  opacity: 1;
  cursor: pointer;
}

.ngx-toastr {
  background-color: #030303;
  pointer-events: auto;
}
.toast-success {
  background-color: rgb(88, 218, 88);
}
.toast-error {
  background-color: $errorRed;
}
.toast-info {
  background-color: #0c89b0;
}
.toast-warning {
  background-color: #f89406;
}

.toast-close-button {
  color: #63636357;
}
